.span11
  .well
    = form_for(@cow) do |f|
      = if @cow.errors.any?
        #error_explanation
          %h2 = pluralize(@cow.errors.count, "error")  prohibited this cow from being saved:

        %ul
        = @cow.errors.full_messages.each do |msg|
          %li = msg
      .control-group
        = f.label :ring       
        = f.text_field :ring

      .control-group
        = f.label :name
        = f.text_field :name

      .control-group
        = f.label :years
        = f.number_field :years

      .control-group
        = f.label :num_borns
        = f.number_field :num_borns

      .control-group
        = f.label :father
        = f.text_field :father

      .control-group
        = f.label :is_milk
        = f.check_box :is_milk

      .actions
        %button.btn.btn-success{:type => "submit"} t('.accept_new_cow')

