.span11
  .well
    .form-horizontal
      = form_for(@cow) do |f|
        = error_messages_for @cow


        .control-group
          %label.control-label= t('kine.ring') +':'
          .controls
            = f.text_field :ring

        .control-group
          %label.control-label=t('kine.name') +':'
          .controls
            = f.text_field :name

        .control-group
          %label.control-label=t('kine.data_born') +':'
          .controls
            #dp3.input-append.date{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
              = f.text_field  :date_born,:size => "16", :type => "text"
              %span.add-on
                %i.icon-th

        .control-group
          %label.control-label=t('kine.num_borns') +':'
          .controls
            = f.number_field :num_borns, :min=>0

        .control-group
          %label.control-label=t('kine.father') +':'
          .controls
            = f.text_field :father

        .control-group
          %label.control-label=t('kine.mother') +':'
          .controls
            = f.select :mother_in_farm, get_ring_name_cows
            %br
            = t('kine.new.mother_in_farm_load')
            = f.text_field :ring_mother

        .control-group
          %label.control-label=t('kine.ask_is_milk') +':'
          .controls
            = f.check_box :is_milk

        .form-horizontal
          .form-actions
            %button.btn.btn-success{:type => "submit"}= t('kine.btn_acept')

