.span11
  .well
    = form_for(@cow) do |f|
      = if @cow.errors.any?
        #error_explanation
          %h2 = pluralize(@cow.errors.count, "error")  prohibited this cow from being saved:

        %ul
        = @cow.errors.full_messages.each do |msg|
          %li = msg
      .control-group
        = f.label 'Pendiente:'
        = f.text_field :ring

      .control-group
        = f.label 'Nome:'
        = f.text_field :name

      .control-group
        = f.label 'Data de nacemento:'
        = f.number_field :date_born, :min=>0

      .control-group
        = f.label 'Número de partos:'
        = f.number_field :num_borns, :min=>0

      .control-group
        = f.label 'Pai:'
        = f.text_field :father

      .control-group
        = f.label '¿Está en fase de lactancia?'
        = f.check_box :is_milk

      .actions
        %button.btn.btn-success{:type => "submit"} Aceptar

