.container
  .row
    .span12
      .well
        .row
          .span9
            %h2= t('kine.index')
            
          .span2
            = link_to  t('kine.up_cow'), new_cow_path , class: "btn btn-info"

        .row
          .span11
            -if farm_has_notifications(@notification_lactation, @notification_parturition, @notification_watch_next_insemination, @custom_notifications)
              = link_to t('notifications.title'), active_notifications_path , class: "btn btn-danger btn-large"
          .span11
            #teams_catalogue
              = paginate @kine
              #catalogue_items_list_container
                - @kine.in_groups_of(3).each do |n_kine_group|
                  .catalogue_items_container_row
                    - n_kine_group.compact.each do |kine|
                      .catalogue_item_container.clickable_container
                        = render 'cow_panel', :kine => kine
