.container
  .row
    .span12
      .well
        .row
          .span11
            %legend Datos da vaca
          %hr.space
            .span8
              .well
                
                %p
                  Pendiente:
                  = @cow.ring.concat(' ')
                %p
                  Nome:
                  = @cow.name

                %p
                  Data de nacemento:
                  - if !@cow.date_born.nil?
                    = @cow.date_born.strftime("%d/%m/%Y")

                %p
                  Número de partos:
                  = @cow.num_borns

                - if @cow.father != ''
                  %p
                    Pai:
                    = @cow.father

                %p
                  - if @cow.is_milk?
                    .alert.alert-success
                      A vaca está na fase de lactancia
                  - else
                    .alert.alert-error
                      A vaca está na fase de secado

                %p
                  - if @last_insemination != []
                    .alert.alert-info
                      %p
                        = 'A vaca está preñada de '+ @num_months_pregnant.to_s + ' meses.'
                      %p
                        = 'A data prevista para secala é '+@previous_lactation.strftime("%d/%m/%Y") + '.'
                      = 'A data prevista para o parto é '+ @previous_parturition.strftime("%d/%m/%Y") + '.'

            .span3
              .well
                %p
                  = link_to 'Control leiteiro', lactation_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to 'Reproducción', proba_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to 'Dar de baixa', @cow ,method: :delete, class: "btn btn-info",  :confirm => '¿Está seguro que quere dar de baixa esta vaca?'
                %p
                  = link_to 'Modificar datos', edit_cow_path(@cow) , class: "btn btn-info"
