.container
  .row
    .span12
      .well
        .row
          .span11
            %legend= t('kine.show.data_cow')
          %hr.space
            .span8
              .well
                
                %p
                  =t('kine.ring') +':'
                  = @cow.ring.concat(' ')
                %p
                  =t('kine.name') +':'
                  = @cow.name

                %p
                  =t('kine.data_born') +':'
                  - if !@cow.date_born.nil?
                    = @cow.date_born.strftime("%d/%m/%Y")

                %p
                  =t('kine.num_borns') +':'
                  = @cow.num_borns

                
                - if !@cow.mother.nil?
                  %p
                    =t('kine.mother') +':'
                    = @cow.mother.name.concat(' (').concat(@cow.mother.short_ring.to_s).concat(')')
                - elsif !@cow.ring_mother.nil? && @cow.ring_mother != ''
                  %p
                    =t('kine.mother') +':'
                    = @cow.ring_mother

                - if @cow.father != ''
                  %p
                    =t('kine.father') +':'
                    = @cow.father

                %p
                  - if @cow.get_has_not_borns
                    .alert.alert-success
                      =t('kine.show.has_not_borns')
                  -else
                    - if @cow.is_milk?
                      .alert.alert-success
                        =t('kine.show.is_milk')
                    - else
                      .alert.alert-error
                        =t('kine.show.is_not_milk')
                %p
                  - if @cow.get_has_failed_insemination(@current_user) && @cow.num_borns >0
                    .alert.alert-error
                      =t('kine.show.stoped_cow')

                %p
                  - if @last_insemination != [] and !@exists_born.nil? and @exists_born ==[]
                    - if @cow.is_pregnant.nil? || (@cow.is_pregnant==0 && (@cow.last_failed_insemination.nil? || @last_insemination[0].date>@cow.last_failed_insemination))
                      .alert.alert-info
                        %p
                          = t('kine.show.last_insemination')+': '+@last_insemination[0].date.strftime("%d/%m/%Y")
                        %p
                          =link_to t('kine.show.is_pregnant'), is_pregnant_path(:id=>@cow.id), class: "label label-success"
                          =link_to t('kine.show.is_not_pregnant'), is_not_pregnant_path(:id=>@cow.id), class: "label label-important"
                    -elsif @cow.is_pregnant == 1
                      .alert.alert-info
                        %p
                          = t('kine.show.cow_is_pregnant')+' '+ @num_months_pregnant.to_s + ' '+ t('kine.show.cow_is_pregnant_months')
                        %p
                          = t('kine.show.previous_month_lactation')+' '+@previous_lactation.strftime("%d/%m/%Y") 
                        %p
                          = t('kine.show.previous_month_parturition')+' '+ @previous_parturition.strftime("%d/%m/%Y")
                        %p
                          = link_to t('kine.show.btn_is_not_pregnant'), remove_pregnant_path(@cow.id), class: "label label-important",:confirm => '¿Confirmas que a vaca non está preñada?'

            .span3
              .well
                %p
                  = link_to t('kine.show.btn_lactation'), lactation_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to t('kine.show.btn_reproduction'), proba_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to t('kine.show.btn_down_cow'), @cow ,method: :delete, class: "btn btn-info",  :confirm => '¿Está seguro que quere dar de baixa esta vaca?'
                %p
                  = link_to t('kine.show.btn_update_cow'), edit_cow_path(@cow) , class: "btn btn-info"
