.container
  .row
    .span12
      .well
        .row
          .span11
            %legend Datos para a vaca 
          %hr.space
            .span8
              .well
                
                %p
                  Pendiente:
                  = @cow.ring

                %p
                  Nome:
                  = @cow.name

                %p
                  Anos:
                  = @cow.years

                %p
                  Número de partos:
                  = @cow.num_borns

                %p
                  Pai:
                  = @cow.father

                %p
                  - if @cow.is_milk?
                    .alert.alert-success
                      A vaca está na fase de lactancia
                  - else
                    .alert.alert-error
                      A vaca está na fase de secado

            .span3
              .well
                %p
                  = link_to 'Control leiteiro', new_cow_path , class: "btn btn-info"
                %p
                  =link_to 'Reproducción', proba_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to 'Dar de baixa', @cow , class: "btn btn-info",  :confirm => '¿Está seguro que quere dar de baixa esta vaca?'
                %p
                  = link_to 'Modificar datos', edit_cow_path(@cow) , class: "btn btn-info"
