.container
  .row
    .span12
      .well
        .row
          .span11
            %legend Datos da vaca
          %hr.space
            .span8
              .well
                
                %p
                  Pendiente:
                  = @cow.ring.concat(' ')
                %p
                  Nome:
                  = @cow.name

                %p
                  Data de nacemento:
                  - if !@cow.date_born.nil?
                    = @cow.date_born.strftime("%d/%m/%Y")

                %p
                  Número de partos:
                  = @cow.num_borns

                - if @cow.father != ''
                  %p
                    Pai:
                    = @cow.father

                %p
                  - if @cow.is_milk?
                    .alert.alert-success
                      A vaca está na fase de lactancia
                  - else
                    .alert.alert-error
                      A vaca está na fase de secado
                %p
                  = @last_insemination[0].date
                  %br
                  = @exists_born
                  %br
                  = @num_months_pregnant
                  %br
                  = @previous_lactation
                  %br
                  = @previous_parturition

                %p
                  - if @last_insemination != [] and !@exists_born.nil? and @exists_born ==[]
                    - if @cow.is_pregnant.nil? || (@cow.is_pregnant==0 && (@cow.last_failed_insemination.nil? || @last_insemination[0].date>@cow.last_failed_insemination))
                      .alert.alert-info
                        %p
                          = 'A última semilla púxose o día: '+@last_insemination[0].date.strftime("%d/%m/%Y")
                        %p
                          =link_to 'Quedou preñada', is_pregnant_path(:id=>@cow.id), class: "label label-success"
                          =link_to 'Non quedou preñada', is_not_pregnant_path(:id=>@cow.id), class: "label label-important"
                    -elsif @cow.is_pregnant == 1
                      .alert.alert-info
                        %p
                          = 'A vaca está preñada de '+ @num_months_pregnant.to_s + ' meses.'
                        %p
                          = 'A data prevista para secala é '+@previous_lactation.strftime("%d/%m/%Y") + '.'
                        %p
                          = 'A data prevista para o parto é '+ @previous_parturition.strftime("%d/%m/%Y") + '.'

            .span3
              .well
                %p
                  = link_to 'Control leiteiro', lactation_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to 'Reproducción', proba_path(@cow.id) , class: "btn btn-info"
                %p
                  =link_to 'Dar de baixa', @cow ,method: :delete, class: "btn btn-info",  :confirm => '¿Está seguro que quere dar de baixa esta vaca?'
                %p
                  = link_to 'Modificar datos', edit_cow_path(@cow) , class: "btn btn-info"
