<div class="well">
<h2><%=t('session.sing_up_now') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true, :label=>t('session.password') %>
    <%= f.input :password_confirmation, :required => true, :label=>t('session.repeat_pass') %>
    <%= f.input :cea, :required => true, :label=>t('session.cea') %>
    <%= f.input :name, :required => true, :label=>t('session.name') %>
    <%= f.input :surname1, :required => true, :label=>t('session.first_surname') %>
    <%= f.input :surname2, :required => true, :label=>t('session.second_surname') %>
    <%= f.input :farm_name, :required => true, :label=>t('session.farm_name') %>
    <%= f.select :cooperative_id, get_cooperatives_name %>
  </div>

  <div class="actions">
    <%= f.button :submit, t('session.btn_aceptar') , :class=>'btn btn-success'%>
  </div>
<% end %>

<%= render "links" %>
