.container
  .row
    .span6
      .well
        .row
          .span5
            %h3= t('page_index.title_sign_in')+' '+t('page_index.single_veterinarian')

            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .inputs
                = f.input :email, :required => false, :autofocus => true
                = f.input :password, :required => false, :label=>t('session.password')
                = f.input :remember_me, :label=>t('session.remember_me'),:as => :boolean if devise_mapping.rememberable?
              .actions
                = f.button :submit, t('session.btn_aceptar') , :class=>'btn btn-success'
            %br
            %br
            = render "links"
            

    .span6
      .row
        .span6
          .well
            .row
              .span3
                .start_user
                  = link_to image_tag('granxa.jpg') + t('page_index.farmers'), new_user_session_path
      .row
        .span6
          .well
            .row
              .span3
                .start_cooperative
                  = link_to image_tag('cooperativa.jpg') + t('page_index.cooperatives'), new_cooperative_session_path
