.container
  .row
    .span11
      %table.table.table-bordered.table-striped.repro_hover
        %thead
          %tr
            %th
            %th Xaneiro
            %th Febreiro
            %th Marzo
            %th Abril
            %th Maio
            %th Xuño
            %th Xullo
            %th Agosto
            %th Setembro
            %th Outubro
            %th Novembro
            %th Decembro


            %tr
              %td
                %h5= @cow.ring
                %h5= @cow.name
              - for i in 0..11
                - if @reproductions[i].nil?
                  %td
                - else
                  %td
                    = link_to ReproductionSimbol.find_by_id(@reproductions[i].reproduction_simbol_id).simbol+ @reproductions[i].comment, proba_repro_path(:id=>@cow.id,:repro_id=>@reproductions[i].reproduction_simbol_id)
    .span11
      %form.form-horizontal.well
        .control-group
          %label.control-label Símbolo
          .controls
            %select
              = options_for_select(get_array_simbols, @repro_selected)

        .control-group
          %label.control-label Comentario
          .controls
            = text_field :reproduction, :comment, :value=>@comment

        .form-actions
          %button.btn.btn-primary{:type => "submit"} Aceptar
          %button.reset Borrar