.container
  .row
    .span12
      .well
        .row
          .span9
            %h2= t('reproductions.title')
        .row
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th= t('reproductions.table_index.cow')
                %th= t('reproductions.table_index.january')
                %th= t('reproductions.table_index.february')
                %th= t('reproductions.table_index.march')
                %th= t('reproductions.table_index.april')
                %th= t('reproductions.table_index.may')
                %th= t('reproductions.table_index.june')
                %th= t('reproductions.table_index.july')
                %th= t('reproductions.table_index.august')
                %th= t('reproductions.table_index.september')
                %th= t('reproductions.table_index.october')
                %th= t('reproductions.table_index.november')
                %th= t('reproductions.table_index.december')
                %th
                
                - @cows.each do |cow|
                  %tr
                    %td
                      = link_to (cow.short_ring.to_s+'<br />'+cow.name).html_safe, proba_path(cow.id)
                    - repro = get_simbol_reproduction(@reproductions, cow.id)
                    - if !repro.nil?
                      - repro.each do |r|
                        %td
                          - if r != {}
                            = r
                    