.container
  .row
    .span8
      .well
        %br
        %h4 Vídeo resumo da aplicación
        <br/>
        %br
        <iframe width="560" height="315" src="http://www.youtube.com/embed/Mr5ksoCvk3Q" frameborder="0" allowfullscreen></iframe>
        %br
        %br

    .span4
      .row
        .span4
          .well
            %h4= t('page_index.title_sign_in')+' '+t('page_index.single_farmer')
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .inputs
                = f.text_field :email, :required => false, :autofocus => true, :placeholder => t('session.email') 
                = f.text_field :password, :required => false, :placeholder => t('session.password')
              .actions
                = f.button :submit, t('session.btn_aceptar') , :class=>'btn btn-success'
            = render "links"
        .span4
          .well
            %h4= t('benefit.title')
            %ul{:style=>"list-style-type:none"}
              %li
                =image_tag 'verify.jpg',:size=>"20x20"
                =t('benefit.ben_1')
              %li
                =image_tag 'verify.jpg',:size=>"20x20"
                =t('benefit.ben_2')
              %li
                =image_tag 'verify.jpg',:size=>"20x20"
                =t('benefit.ben_3')
              %li
                =image_tag 'verify.jpg',:size=>"20x20"
                =t('benefit.ben_4')

  .row
    .span12
      .well
        ded