.span11
  .well
    = form_for @lactation do |f|
      = if @lactation.errors.any?
        #error_explanation
          %h2= t('activerecord.errors.title')
        %ul
          - @lactation.errors.full_messages.each do |msg|
            %li= msg

      .field
        = t('lactations.edit.date')+':'
        #dp3.input-append.date{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
          = f.text_field  :date,:size => "16", :type => "text"
          %span.add-on
            %i.icon-th
      .field
        = f.label t('lactations.edit.greasy')+':'
        = f.number_field :greasy_kg, :min=>0, :class =>'input-small'
        = t('lactations.edit.kg')
        = f.text_field :greasy_percentage, :class =>'input-small'
        = '%'
      .field
        = f.label t('lactations.edit.protein')+':'
        = f.number_field :protein_kg, :min=>0, :class =>'input-small'
        = t('lactations.edit.kg')
        = f.text_field :protein_percentage, :class =>'input-small'
        = '%'
      .field
        = t('lactations.edit.cell')+':'
        = f.number_field :cell, :min=>0, :class =>'input-small'
      
      .field
        = t('lactations.edit.duration_milk')+':'
        = f.number_field :lactation_duration, :min=>0, :class =>'input-small'
      .field
        = t('lactations.edit.milk_kg')+':'
        = f.number_field :milk_kg, :min=>0, :class =>'input-small'
      .id_repro_hidden
        = f.text_field :cow_id, :value=>@cow_id
      .actions
        %button.btn.btn-success{:type => "submit"}= t('lactations.edit.btn_acept')
