.container
  .row
    .span12
      .well
        .row
          .span9
            %h2= t('lactations.title')
        .row
          %table.table.table-bordered.table-striped.table_header
            %tr
              %td
                %th{:colspan=>"8"}
                  %h6= t('lactations.sample_table.resume_title')
            %tr
              %th{:rowspan => "2"}= t('lactations.sample_table.milk_kg')
              %th{:colspan => "2"}= t('lactations.sample_table.greasy')
              %th{:colspan => "2"}= t('lactations.sample_table.proteine')
              %th{:rowspan => "2"}= t('lactations.sample_table.production')
              %th{:rowspan => "2"}
            %tr
              %th= t('lactations.sample_table.kg')
              %th %
              %th= t('lactations.sample_table.kg')
              %th %
            -@cows.each do |c|
              %tr
                %td= link_to (c.short_ring.to_s+'<br />'+c.name).html_safe, lactation_path(c.id)
                = render :partial=>'total_lactations',  locals: {cow:c}
            