.container
  .row
    .span12
      .well
        .row
          .span9
            %legend= get_header_show(@cow)
            .alert.alert-success
              = get_month_lactation(@month)
            
          .span2
            = link_to t('lactations.add_sample'), create_new_lactation_path(@cow.id) , class: "btn btn-info"
        .row
          .span11
            - (1..12).each do |m|
              = link_to get_name_of_name(m), lactation_path(:cow_id=>@cow_id,:month=>m) , class: "btn btn-info btn-small"
          .span11
            %table.table.table-bordered.table-striped.table_header
              %tr
                %td
                  %th{:colspan=>"8"}
                    %h6= t('lactations.sample_table.sample_title')
              %tr
                %th{:rowspan => "2"}= t('lactations.sample_table.data')
                %th{:rowspan => "2"}= t('lactations.sample_table.lactation_duration')
                %th{:rowspan => "2"}= t('lactations.sample_table.milk_kg')
                %th{:colspan => "2"}= t('lactations.sample_table.greasy')
                %th{:colspan => "2"}= t('lactations.sample_table.proteine')
                %th= t('lactations.sample_table.cell')
                %th{:rowspan => "2"}
              %tr
                %th= t('lactations.sample_table.kg')
                %th %
                %th= t('lactations.sample_table.kg')
                %th %
                %th= t('lactations.sample_table.lineal')
              -@lactations.each do |l|
                %tr
                  %td= l.date.strftime("%d-%m-%Y")
                  %td= l.lactation_duration
                  %td= l.milk_kg
                  %td= l.greasy_kg
                  %td= l.greasy_percentage
                  %td= l.protein_kg
                  %td= l.protein_percentage
                  %td= l.cell
                  %td
                    = link_to image_tag("lapiz.jpg", :size=>"18x18"), update_lactation_path(:cow_id=>@cow.id, :id=>l.id)
                    = link_to image_tag("images.jpg", :size=>"17x17"), l,method: :delete, data: { confirm: '¿Está seguro de borrar os datos?' }

            .alert.alert-block
              %tfoot
                %tr
                  %td
                    %h6= t('lactations.sample_table.lineal')
                %tr
                  %td= '0-4: '+ t('lactations.p_lineal.optimous')
                  %td= '>4: ' + t('lactations.p_lineal.critical')

            %table.table.table-bordered.table-striped.table_header
              %tr
                %td
                  %th{:colspan=>"8"}
                    %h6= t('lactations.sample_table.resume_title')
              %tr
                %th{:rowspan => "2"}= t('lactations.sample_table.milk_kg')
                %th{:colspan => "2"}= t('lactations.sample_table.greasy')
                %th{:colspan => "2"}= t('lactations.sample_table.proteine')
                %th{:rowspan => "2"}= t('lactations.sample_table.production')
                %th{:rowspan => "2"}
              %tr
                %th= t('lactations.sample_table.kg')
                %th %
                %th= t('lactations.sample_table.kg')
                %th %
              %tr
                = render :partial=>'total_lactations',  locals: {cow:@cow}