.navbar
  .navbar-inner
    .container

      .nav-collapse
        %ul.nav
          %li
            = link_to t('menu.cow'),kine_path
          %li
            = link_to t('menu.reproduction'), reproductions_path
          %li
            = link_to t('menu.lactations'), lactations_path
          %li
            = link_to t('menu.facturation_milk'), facturation_milks_path(:month=>DateTime.now.month)
          %li
            = link_to t('menu.reports'),reports_path
          %li
            = link_to t('menu.account'),edit_user_registration_path