.container
  .row
    .span12
      .well
        .row
          .span11
            %h2= t('reports.title')

        .row
          .span11
            .well
              %ul.nav.nav-list
                %li

                  = link_to t('reports.activated_cow'), active_cow_reports_path
                %li
                  = link_to t('reports.pregnant_cow'), pregnant_cow_reports_path
                %li
                  = link_to t('reports.not_pregnant_cow'), not_pregnant_cow_reports_path
                %li
                  = link_to t('reports.lactation_cow'), is_milk_cow_reports_path
                %li
                  = link_to t('reports.not_lactation_cow'), is_not_milk_cow_reports_path
                %li
                  = link_to t('reports.cow_without_born'), cow_without_born_reports_path
                %li
                  = link_to t('reports.total_facturation_milk'), total_facturation_reports_path
       

