.container
  .row
    .span12
      .well
        .row
          .span7
            %h2= t('reports.title')

        .row
          .span11
            .well
              %ul.nav.nav-list
                %li
                  = link_to t('reports.activated_cow'), kine_path
                %li
                  = link_to t('reports.pregnant_cow'), kine_path
                %li
                  = link_to t('reports.not_pregnant_cow'), kine_path
                %li
                  = link_to t('reports.lactation_cow'), kine_path
                %li
                  = link_to t('reports.not_lactation_cow'), kine_path
                %li
                  = link_to t('reports.total_facturation_milk'), kine_path
                %li
                  = link_to t('reports.total_lactation_cow'), kine_path

