!!!
%html
  %head
    %title XEGRA

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body.probafondo
    .container
      %header
        .row
          .span7
            =image_tag 'xegra.jpg', :size=>"300x80"
          .span5
            -if !current_user.nil?
              .bsa.well
                .bsap_1277971
                  .bsa_it.one
                    .bsa_it_ad.ad1.odd
                      .row
                        .span4
                          %strong= t('welcome_user.hi')+' '+current_user.name + ' ' + current_user.surname1 + ' ' + current_user.surname2
                      .row
                        .span2
                          = t('welcome_user.cea')+' ' + current_user.cea
                        .span2
                          = link_to t('welcome_user.sign_out'), destroy_user_session_path, :method => :delete, class: "btn btn-inverse"
            - else
              .bsa.well
                .bsap_1277971.bsap
                  .bsa_it.one
                    .bsa_it_ad.ad1.odd
                      %p.lead Xestión de Granxas
      
      = yield

    